{
    "aws_credentials": [
        {
            "name": "MyAWSAccount",
            "key": "AAAAAAAAAAAAAAAAAAAA",
            "secret": "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
        }
    ],
    "favourite_amis": {
        "ami-aa56a1dd": "Alestic - eu-west-1 - 12.04 LTS - EBS",
        "ami-3a689f4d": "Alestic - eu-west-1 - 12.04 LTS - instance store"
    },
    "defaults": {}
}
